name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  install-linux:
    name: (Linux) Install package and run tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install and test
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip
          python3 -m pip install --upgrade pip
          python3 -m pip install "$PWD[test]"
          python3 -m pytest -rN

  install-macos:
    name: (MacOS) Install package and run tests
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install and test
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install "$PWD[test]"
          python3 -m pytest -rN

  install-windows:
    name: (Windows) Install package and run tests
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install and test
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install "$PWD[test]"
          python3 -m pytest -rN
